<%- include('partials/head'); -%> <!-- cargamos head ejs -->
<%- include('partials/header'); -%> <!-- cargamos header ejs -->

    <div class="contenedor2">
        <h1></h1><br>
        <div class="image-container">
            
            <img src="resources/img/logo_sin.jpg" alt="Centro" class="hover-image">

        </div>
        <h2>Search, Contact, Fixed!</h2>

        <% if (login) { %>                
            <h1>Usuario conectado: <strong><%= name %></strong></h1>                   
        <%} else { %>
            <h1><strong><%= name %></strong></h1>   
        <% } %>

    </div>
<%- include('partials/footer'); -%>  <!-- cargamos footer ejs -->