<%- include('partials/head'); -%>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/resources/css/tablas.css">
<%- include('partials/header'); -%>

<div class="contenedor2">
    <h1>Profesionales</h1>

    <button id="showFormBtn" class="btn-primary">Crear Profesional</button>

    <div class="login-form" id="userForm" style="display: none;">
        <form action="/profesionales" method="POST">
            <br>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <input type="text" name="telefono" placeholder="Telefono" required>
            <input type="text" name="email" placeholder="Email" required>
            <select id="categoria" name="categoria" class="select-css" tabindex="3">
                <option value="1" selected>Otros/Varios</option>
                <option value="2">Electricidad</option>
                <option value="3">Plomeria</option>
                <option value="4">Carpinteria</option>
                <option value="5">Informatica</option>
                <option value="6">Movimiento</option>


            </select><br>


            <button type="submit" class="btn-login">ENVIAR</button>
        </form>
    </div>

    <div class="container2 mt-4">
        <table class="tablab tablab-bordered tablab-striped text-center">
            <thead>
                <tr class="bg-primary text-white">
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <% if (results.length > 0) { %>
                    <% results.forEach((profesional) => { %>
                        <tr>
                            <td><%= profesional.id %></td>
                            <td><%= profesional.nombre %></td>
                            <td><%= profesional.apellido %></td>
                            <td><%= profesional.telefono %></td>
                            <td><%= profesional.email %></td>
                            <td><%= profesional.categoria %></td>

                            <td>
                                <a href="/profesionales/edit/<%= profesional.id %>" class="btn btn-outline-info"><i class='bx bxs-edit'></i> Editar</a>
                                <a href="/profesionales/delete/<%= profesional.id %>" class="btn btn-outline-danger"><i class='bx bxs-trash-alt'></i> Borrar</a>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="6">No hay profesionales registrados.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<script>
document.getElementById("showFormBtn").addEventListener("click", function() {
    const form = document.getElementById("userForm");
    if (form.style.display === "none" || form.style.display === "") {
        form.style.display = "block";
    } else {
        form.style.display = "none";
    }
});
</script>




<%- include('partials/footer'); -%>
